body{
    background-image: url(../img/fondo.png);
    background-attachment: fixed;
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
}
.imgTar{
    width: 20em;
    height: 18em;
    margin-left: 1em;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjeta{
    margin-left:42%;
    width: 20%;
    height: 30%;
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: white;
    margin-top: 2em;
    transition: 0.5s;
    border: 0.11em solid black;
    border-radius: 0.8em;
}
h1{
    border: 0.21em solid black;
    border-radius: 0.8em;
    padding: 1em;
    background-color: darkred;
    margin-top: 1em;
    text-decoration: none;
    color:black;
    margin-left: 18.3em;
    width: 19.5em;
}
a{
    text-decoration: none;
}
.tarjeta:hover{
    transform: scale(1.05);
}
.logo{
    width: 1.5vw;
}
.delete{
    background-color: rgb(230, 51, 51);
}

.volver{
    background-color: rgb(177, 255, 209);
}
.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}