body{
    
    background-image: url(../img/fondo.png);
    background-attachment: fixed;
    background-position:initial;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgPr{
    width: 28em;
    height: 18em;
    border: 0.41em solid black;
    border-radius: 0.4em;
    color: white;
}
h1{
    border: 0.21em solid black;
    border-radius: 0.8em;
    padding: 1em;
    background-color: lightgray;
    margin-top: 1em;
    text-decoration: none;
    color:black;
    margin-left: 6.3em;
    width: 9.5em;
}
a{
    text-decoration: none;
}
h1:hover{
    background-color: blanchedalmond;
}
p{
    color:white;
}