<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/create-edit.css">
    <title>Formulario Item</title>
</head>
<body>
    {% if not info %}
    <form method="POST" action="/products/create" class="formulario" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <legend><b>Crear nuevo producto</b></legend>
        <div class="container">
            <p>{{ form.title.label }}: {{ form.title() }}</p>
            <p>{{ form.description.label }}: {{ form.description() }}</p>
            <p>{{ form.photo.label }}: {{ form.photo() }}</p>
            <p>{{ form.price.label }}: {{ form.price() }}</p>
            <p>{{ form.category_id.label }}: {{ form.category_id() }}</p>
            <br>
            <br>
            </fieldset>
            <div class="Botones">
                <input type="reset" value="Vaciar Campos" class="rese">
                <p class="subm">{{ form.submit(value="Añadir producto") }}</p>
            </div>
        </div>
    </form>
    {% else %}
    <form method="POST" action="/products/edit/{{ info['id'] }}" class="formulario" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <legend><b>Editar producto</b></legend>
            {{ form.csrf_token }}
            <p>{{ form.title.label }} {{ form.title() }}</p>
            <p>{{ form.description.label }} {{ form.description() }}</p>
            <p>{{ form.photo.label }} {{ form.photo() }}</p>
            <p>{{ form.price.label }} {{ form.price() }}</p>
            <p>{{ form.category_id.label }} {{ form.category_id() }}</p>
            <br>
            <br>
            </fieldset>
            <div class="Botones">
                <a href="/products/list" class="volver">Volver</a>
                <p>{{ form.submit(value="Editar producto", class="subm") }}</p>
            </div>
        </div>
    </form>
    {% endif %}
</body>
</html>