<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/create-edit.css">
    <title>Formulario Item</title>
</head>
<body>
    {% if not info %}
    <form method="POST" action="/products/create" class="formulario" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <legend><b>Crear nuevo producto</b></legend>
        <div class="container">
            <p>{{ form.title.label }}: {{ form.title() }}</p>
            <p>{{ form.description.label }}: {{ form.description() }}</p>
            <p>{{ form.photo.label }}: {{ form.photo() }}</p>
            <p>{{ form.price.label }}: {{ form.price() }}</p>
            <p>{{ form.category_id.label }}: {{ form.category_id() }}</p>
            <br>
            <br>
            </fieldset>
            <div class="Botones">
                <input type="reset" value="Vaciar Campos" class="rese">
                <p class="subm">{{ form.submit(value="Añadir producto") }}</p>
            </div>
        </div>
    </form>
    {% else %}
    <form method="POST" action="/products/edit/{{ info['id'] }}" class="formulario" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <legend><b>Editar producto</b></legend>
        <div class="container">
            <div class="inpContainer">
                <label for="nom">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="wide" placeholder="{{ info['title'] }}" required value="{{ info['title'] }}">
            </div>
            <div class="inpContainer">
                <label for="descripcion">Descripción</label>
                <input type="text" id="descripcion" name="descripcion" class="wide" placeholder="{{ info['description'] }}" required  value="{{ info['description'] }}">
            
            </div>
            <div class="inpContainer">
                <label for="foto">Foto</label>
                <input type="file" id="foto" name="foto" class="wide" accept="image/*">
                <input type="hidden" id="photo" name="photo" value="{{ info['photo'] }}" required>
            
            </div>
            <div class="inpContainer">
                <label for="precio">Precio en euros</label>
                <input type="text" id="precio" name="precio" class="wide" placeholder="{{ info['price'] }}€" required value="{{ info['price'] }}">
            </div>
            <div class="inpContainer">
                <label for="categoria">Categorías</label>
                <select id="categoria" name="categoria"  class="wide" required value="{{ info['category_id'] }}">
                    {% for x in cat %}
                    <option value="{{x['id']}}">{{ x['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            </fieldset>
            <div class="Botones">
                <a href="/products/list" class="volver">Volver</a>
                <input type="submit" value="Editar producto" class="subm">
            </div>
        </div>
    </form>
    {% endif %}
</body>
</html>