<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/delete.css">
    <title>Delete item</title>
</head>
<body>
    <h1>Confirmación de eliminación del producto {{info['nombre']}}</h1>
    <div class="tarjeta">
        <div class="arriba">
            <img src="../../static/img/uploads/{{ info['photo'] }}" class="imgTar">
        </div>
        <div class="abajo">
            <h2> {{ info['id']}}. {{ info['title']}} </h2>
            <h3> Descripción: </h3>
            <h3>-{{ info['description']}}</h3>
            <h3> Precio: {{info['price']}}€</h3>
            <div class="botones">
                <form action="/products/delete/{{ info['id'] }}" method="POST">
                    <button type="submit" class="delete" data-tooltip="Eliminar Producto"><img class="logo" src="../../static/img/delete.png" alt=""></button>
                    <input type="hidden" name="id" id="" value="{{ info['id'] }}">
                    <input type="hidden" name="foto" id="" value="{{info['photo']}}">
                </form>
                <form action="/products/list" method="GET">
                    <button type="submit" class="volver" data-tooltip="volver"><img class="logo" src="../../static/img/atras.jpeg" alt=""></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>